<div class="container">
    <h2 style="text-align:center">Posts</h2>
    <hr>

    <%= 5 + 5 %>
    <h3>Admin: <%=@author%></h3>

    <ol class="list-group">
        <% @posts.each do |post| %>
            <li class="list-group-item">
                <%= post[:title]%> - <%= post[:body]%>
            </li>
        <% end %>
    </ol>



    <a href="/estudantes"> Estudantes </a>

    <br>
    ## Melhor forma de fazer,é usando rotas nomeadas, pq assim posso mudar a rota, é mais seguro
    <br>
    <%= link_to "Estudantes", estudantes_path %>
</div>